# Optional npm cache directory
.npm
# git
.gitconfig

# Dependency directories
./node_modules
./jspm_packages

# IDE
*.iml
.vscode
.idea

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build
dist
.stats.json
.stats.json-e



# TypeScript v1 declaration files
typings/


# Output of 'npm pack'
*.tgz

# hidden mac file
.DS_Store
.vscode/launch.json



